@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900");

/*
	Phase Shift by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body {
		background: #0f1116;
	}

	body, span, input, select, textarea {
		color: #555555;
		font-family: sans-serif;
		font-size: 12pt;
		font-weight: 300;
		line-height: 1.65em;
	}

	a {
		color: #d84780;
		text-decoration: underline;
	}

	strong, b {
		font-weight: 700;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	p {
		line-height: 2em;
		color: #DADADA;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		color: inherit;
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-weight: 700;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.25em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	/* hr {
		border-top: solid 1px #888888;
		border: 0;
		margin-bottom: 1.5em;
	} */

	blockquote {
		border-left: solid 0.5em #888888;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}

	header.major {
		padding-bottom: 3em;
		/* text-transform: uppercase; */
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

		header.major h2 {
			margin: 0; 
			padding: 0;
			line-height: 1em;
			font-weight: 800;
			font-size: 2.8em;
		}

		header.major .byline {
			display: block;
			margin: 0.50em 0 0 0;
			padding: 0 0 0.5em 0;
			letter-spacing: 1px;
			font-size: 1.3em;
			font-weight: 300;
		}

	footer > :last-child {
		margin-bottom: 0;
	}

	footer.major {
		padding-top: 3em;
	}

/* Form */

	form {
		width: 70%;
		margin: 0em auto;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background: white;
		color: #555555;
		border: none;
		display: block;
		outline: 0;
		padding: 1em 1em;
		text-decoration: none;
		width: 100%;
		border-radius: 6px;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #d84780;
		}

	textarea {
		min-height: 14em;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.5;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	::-moz-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	:-ms-input-placeholder {
		color: inherit;
		opacity: 0.5;
	}

	.formerize-placeholder {
		color: rgba(85, 85, 85, 0.5) !important;
	}

/* Image */

	.image {
		border: 0;
		position: relative;
	}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.feature {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.feature img {
				display: block;
				width: 100%;
			}

		.image.featured {
			position: static;
			display: block;
			margin: 0;
		}

			.image.featured img {
				display: block;
				width: 100%;
			}

/* Icon */

	.icon {
		position: relative;
	}

		.icon:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Lists */

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

	ul.default {
		margin: 0em 0em 2em 0em;
		padding: 0em 0em 1.5em 0em;
		list-style: none;
	}

		ul.default li {
			padding: 0.60em 0em;
			font-size: 0.90em;
			border-top: 1px solid;
			border-color: rgba(0, 0, 0, 0.1);
		}

		ul.default li:first-child {
			border-top: none;
		}

	ul.icons {
		cursor: default;
		text-align: center;
	}

		ul.icons li {
			display: inline-block;
			padding: 0em 0.20em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li span {
				display: none;
			}

			ul.icons li a {
				display: inline-block;
				color: #828282;
				width: 30px;
				height: 30px;
				text-align: center;
			}

				ul.icons li a:before {
					display: inline-block;
					border: 1px solid #828282;
					width: 2em;
					height: 2em;
					line-height: 2em;
					font-size: 1em;
					color: #828282;
					border-radius: 100%;
					text-align: center;
				}

	ul.actions {
		cursor: default;
	}

		ul.actions:last-child {
			margin-bottom: 0;
		}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.actions li:first-child {
				padding: 0;
			}

		ul.actions.vertical li {
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.actions.vertical li:first-child {
				padding: 0;
			}

	ul.style {
		padding-top: 3em;
	}

		ul.style li {
			position: relative;
			padding: 3em 0em 3em 6em;
			border-top: solid 1px rgba(255, 255, 255, 0.2);
		}

		ul.style > :first-child {
			border-top: none;
		}

		ul.style li:before {
			position: absolute;
			left: 0;
			top: 1em;
			display: block;
			background: none;
			color: #FFF;
			width: 56px;
			height: 56px;
			text-align: center;
			font-size: 3em;
			border-radius: 6px;
		}

		ul.style h3 {
			margin-bottom: 0.80em;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 2em;
			color: #FFF;
		}

		ul.style span {
			line-height: 180%;
			color: #FFF;
		}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #888888;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 700;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background: #555555;
				color: #fff;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.35s ease-in-out;
		-webkit-transition: background-color 0.35s ease-in-out;
		-o-transition: background-color 0.35s ease-in-out;
		-ms-transition: background-color 0.35s ease-in-out;
		transition: background-color 0.35s ease-in-out;
		background: #d84780;
		border-radius: 6px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0.75em 1.5em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		font-size: 1.2em;
		font-weight: 600;
		color: #FFF !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background: #e1719d;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			border: 1px solid #FFF;
			color: #0f1116;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].medium,
		input[type="reset"].medium,
		input[type="button"].medium,
		.button.medium {
			padding: 0.80em 2em;
			font-size: 1.6em;
		}

/* Wrapper */

	.wrapper.style1 {
		padding-top: 5em;
		padding-bottom: 2em;
		background: #223639;
		background-size: cover;
		background-attachment: fixed;
		/*-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0); */
	}

	.wrapper.style2 {
		padding: 6em 0;
		background: #d84780;
		color: white;
	}


	.wrapper.style3 {
		
		padding-bottom: 2em;
		background: #223639;
		background-size: cover;
		background-attachment: fixed;
		/*-webkit-backface-visibility: hidden;
		-webkit-transform: translateZ(0); */
	}

/* Header */

	#header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #2A4346;
		color: #fff;
		padding: 1.25em 1.25em 1.25em 1.25em;
		z-index: 100;
	}

/* Logo */

	#logo {
		font-size: 1.2em;
		cursor: default;
	    padding-left: 20px;
		padding-right: 20px;
	}

	#logo h1 {
		display: inline-block;
		text-transform: uppercase;
	}

/* Navigation */

	#nav {
		position: absolute;
		right: 0;
		top: 0;
		cursor: default;
		padding-right: 20px;
	}

	#nav ul li {
		display: inline-block;
		padding: 1.25em 1.25em;
	
	}

	#nav ul li a {
		-moz-transition: color 0.35s ease-in-out;
		-webkit-transition: color 0.35s ease-in-out;
		-o-transition: color 0.35s ease-in-out;
		-ms-transition: color 0.35s ease-in-out;
		transition: color 0.35s ease-in-out;
		display: inline-block;
		color: #ddd;
		color: #95A1A3;
		text-decoration: none;
	}

	#nav ul li a:hover {
		color: #fff;
	}

/* Banner */

	#banner {
		text-align: center;
		color: #fff;
		padding: 0em 4em;
		margin-bottom: 6em;
	}

		#banner p {
			font-size: 1.75em;
			line-height: 1.75em;
		}

	#banner strong,
	#banner a {
		color: inherit;
	}

/* Main */

/* Footer */

	#footer {
		text-align: center;
	}

		#footer .major h2,
		#footer .major .byline {
			color: #FFF !important;
		}

/* Page */

	#page {
		position: relative;
		padding: 4em 4em 6em 4em;
	}

/* Sidebar */

	#sidebar .major {
		padding-bottom: 2em;
	}

		#sidebar .major h2 {
			font-size: 1.8em;
		}

/* Copyright */

	#copyright {
		color: #ddd;
		color: rgba(255, 255, 255, 0.2) !important;
		text-align: center;
		display: block;
		padding: 3em 0em;
	}

		#copyright a {
			text-decoration: none;
			color: #ddd;
			color: rgba(255, 255, 255, 0.4) !important;
		}

/* Box */

	.box {
		padding: 3em 2em;
		background: #FFF;
		text-align: center;
		border-radius: 0px 0px 6px 6px;
	}

    .box2 {
		display: flex;
		align-items: center;
		border: 1px solid red;
		background: #F69031;
		text-align: left;
		border-radius: 120px;
		width:240px;
        height:240px;
		margin: 50px 50px 50px 50px;
	}

/* active */

	.active {
		background: #F69031;
		font-weight: 600;
	  
	}

    .text {
	    font-weight: 700;
		padding-left: 10px;
		font-size: 20px;
		text-align: left;
    }

* {
  box-sizing: border-box;
}

      .zoom {
        transition: transform .2s;
        display: flex;
		align-items: center;
		text-align: left;
		border-radius: 120px;
		width:240px;
        height:240px;
		margin: 50px 50px 50px 50px;
		border: none;
        }

       .zoom:hover:before{
        left:75%;
		content:"→";
		font-size: 5em;
        position:absolute;
		color:#88501C;
		
          }

      .zoom:hover {
         -ms-transform: scale(1.5); /* IE 9 */
         -webkit-transform: scale(1.5); /* Safari 3-8 */
         transform: scale(1.5); 
		 width:280px;
         height:280px;
		 border-radius:140px; 
		 
     }



     .hover {

         background: #F69031;


      }


     .hover {
         text-decoration: none;
         padding: 4rem 2rem;
         font-weight: 700;
         transition: 0.5s;
         flex: 1 1 25%;
            }

     .worklist {
		 padding-bottom: 30px;
		 font-weight: 700;
		 text-align: center;
}

     .workbutton{
		 color: #DADADA;
		 text-decoration:none;
		 margin-right:30px;
		 font: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
        }


     .workbutton:hover{
		 color: #ffffff;
	
        }

     .button_current{
		 color: #F69031 !important;
		 
	 }
	 
	 .flex {
		display: flex;
		/* padding: 15px; */
		/* background-color: #61a0f8; */
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 30px;
		justify-content: center;
	  }
	  
	  .item {
		position: relative;
		width: 250px;
		height: 250px;
		background-color:#ffffff;
		margin: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	  }

	  .item3 {
		position: relative;
		width: 525px;
		height: 250px;
		background-color:#ffffff;
		margin: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
	  }

	  .parent2{
		position: relative;
	}

	.child2{
		position: absolute;
		width: 525px;
		height: 250px;
		left: 0;
		top: 35%;
	}
	  @media(max-width: 608px){
		.item3 {
			position: relative;
			width: 250px;
			height: 250px;
			margin: 12px;
			display: flex;
			align-items: center;
			justify-content: center;
		  }
	
		  .child2{
			width: 250px;
			height: 250px;
		}

	  }

	 

      .workpage1{
		position: relative;
		display: flex;
		width: 250px;
		height: 250px;
		 background-color:#95A1A3;
	  }
	  
	  .overlay {
		
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
	  }
	  
	  .item:hover .overlay {
		opacity: 0.8;

	  }

	  .item3:hover .overlay {
		opacity: 0.8;
		
	  }
	 
	  .textcenter{
		color: #2A4346;
		display: flex;
		align-items: center;
		flex-direction: column;
	  }

      .typetext{
		font-size: 12px;
	  }
	 
      .worktitle{
		  font-size: 1.5em;

	  }

	  .linestyle{
		  height: 4px;
		  width: 20%;
		  align-items: center;
		  color: #2A4346;
		  background-color: #2A4346;
		  border-width: 0ch;
		  margin-top: 15px;
		  margin-bottom: 15px;
	  }

	  .parent{
		  position: relative;
	  }

	  .child{
		  position: absolute;
		  width: 250px;
		  height: 250px;
		  left: 0;
		  top: 35%;
	  }



	  .aboutmepage{
		  display: flex;
		  position: relative;
		  width: 100%;
		  padding: 4em 0em 4em 0em;
		  justify-content: center;
		 
	  }

	  @media screen and (max-width:840px){
		.aboutmepage{
			display: flex;
			position: relative;
			width: 100%;
			padding: 0em 0em 0em 0em;
			justify-content: center;
		}
	  }

	  .aboutmetitle{
		  display: flex;
		  flex-direction: column;
		  position: absolute;
		  padding: 15px;
	  }

      .item_arrow{
		  padding-top: 35px;
	  }

	 .font_aboutme{
		font-size: 1.4cm;
		font-weight: 700;
		color: #ffffff;
		text-align: center;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		letter-spacing: 6px;
	}

	@media screen and (min-width:608px) and (max-width:980px){
		.aboutmetitle{
			display: flex;
			flex-direction: column;
			position: absolute;
			padding: 15px;
		}
  
		.item_arrow{
			padding-top: 0px;
		}
  
	   .font_aboutme{
		  font-size: 1cm;
		  font-weight: 700;
		  color: #ffffff;
		  text-align: center;
		  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		  letter-spacing: 6px;
	  }
  
	}
	@media screen and (max-width:608px){
		.aboutmetitle{
			display: flex;
			flex-direction: column;
			position: absolute;
			padding: 1px;
		}
  
		.item_arrow{
			padding-top: 0px;
			width: 150px;
		}
  
	   .font_aboutme{
		  font-size: 0.7cm;
		  font-weight: 700;
		  color: #ffffff;
		  text-align: center;
		  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		  letter-spacing: 6px;
	  }
  
	}

	#img0{
		opacity: 1;
	}

	#about_left{
		width: 300px;
		padding-left: 40px;
	} 

	.about_right{
		padding-left: 70px;
	}

	.container2{
		margin-left: 80px;
		margin-right: 80px;
		margin-top: -60px;
		
	}

	.aboutme_righttext{
		padding-top: 50px;
	}

	.title_small{
		font-size: 35px;
		color: #DADADA;
		font-weight: 700;
		letter-spacing: 3px;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	.skillflex{
		display: flex;
		height: auto;
		padding: 15px;
		/* background-color: #61a0f8; */
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.skillitem{
		height: 120px;
		width: 120px;
		/* background-color: #f08bc3; */
		margin: 40px;
		display: flex;
	}

	* {
		box-sizing: border-box;
	  }  
	   
	  /* The actual timeline (the vertical ruler) */
	  .timeline {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		padding-left: 80px;
	  }
	  
	  /* The actual timeline (the vertical ruler) */
	  .timeline::after {
		content: '';
		position: absolute;
		width: 6px;
		background-color: #5B6B6E;
		top: 0;
		bottom: 0;
		/* left: 50%; */
		margin-left: -6px;
		margin-top: 22px;
	  }
	  
	  /* Container around content */
	  .container4 {
		padding: 10px 20px;
		position: relative;
		background-color: inherit;
	  }
	  
	  /* The circles on the timeline */
	  .container4::after {
		content: '';
		position: absolute;
		width: 25px;
		height: 25px;
		right: -17px;
		background-color:#F69031;
		/* border: 4px solid #88501C; */
		top: 20px;
		border-radius: 50%;
		z-index: 1;
	  }
	  
	

	  

	  /* Fix the circle for containers on the right side */
	  .right::after {
		left: -16px;
	  }
	  
	  /* The actual content */
	  .content {
		padding: 10px 20px;
		/* background-color: white; */
		position: relative;
		border-radius: 6px;
		width: 350px;
	  }
	  
	  /* Media queries - Responsive timeline on screens less than 600px wide */
	  @media screen and (max-width: 600px) {
	  /* Place the timelime to the left */
		.timeline::after {
		  left: 31px;
		}
	  
	  /* Full-width containers */
		.container4 {
		  width: 100%;
		  padding-left: 70px;
		  padding-right: 25px;
		}
	  
	  /* Make sure that all arrows are pointing leftwards */
		.container4::before {
		  left: 60px;
		  border: medium solid white;
		  border-width: 10px 10px 10px 0;
		  border-color: transparent white transparent transparent;
		}
	  
	  /* Make sure all circles are at the same spot */
		.right::after {
		  left: 15px;
		}
	  
	  /* Make all right containers behave like the left ones */
		.right {
		  left: 0%;
		}
	  }

	  .experdate{
		  color: #5B6B6E;
		  font-weight: 600;
		  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	  }

	 .flex2{
		 display: flex;
		padding: 30px;
		flex-direction: column;
		justify-content: center;
	 }

	 .item2{
		display: flex;
		flex: 1;
		margin: 10px;
		display: flex;

	 }

	 .workinfor{
		display: flex;
		 padding: 10px;
		 padding-top: 40px;
		 padding-bottom: 40px;
		 color: #c4c4c4;
		
	 }

	 .forpic{
		 display: flex;
		 padding-top: 40px;
		 padding-bottom: 50px;
		 justify-content: center;
	 }

	 .iconbutton{
		position: relative;
		 display: flex;
		 justify-content: center;
		 margin-bottom: 40px;
		 width: 70px;
		 height: 70px;
		 border:4px solid #F69031;
		 border-radius: 50%;
	
	 }

     .iconbutton:hover .iconbutton2 {
      opacity: 1;
	 }

	 .iconbutton2{
		display: flex;
		position: absolute;
		justify-content: center;
		margin-bottom: 40px;
		background-color: #999999;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		border:4px solid #999999;
		border-radius: 50%;
		transition: .5s ease;
		opacity: 0;
	}

	.name{
		margin-top: 70px;
		color: #c4c4c4;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 1px;
	}